footer {
  background-color: #000000;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* No mobile, ela vira 100% */
  max-width: 100%;
  margin: 0 auto; /* Centraliza o conteúdo */
  padding: 40px;
}

footer span {
  font-size: 1em;
  font-weight: 300;
  color: #b3b3b3;
}
