header {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1a1a1a;
  white-space: nowrap;
}

header h1:hover {
  color: #894fc2;
  transition: all 0.3s ease-in-out;
}

header h1,
nav a {
  cursor: pointer;
}

.header-container a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-container li:not(:last-of-type) a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 5px;
}

.header-container li:not(:last-child) a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #894fc2;
  transition: 0.3s ease-in-out;
}

.header-container li:not(:last-child) a:hover::after {
  width: 100%;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

header nav a {
  font-size: 1.1rem;
}

.button-nav {
  font-size: 16px;
  padding: 10px 30px !important;
  border: 1.5px solid transparent;
  border-radius: 50px;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #894fc2, #eee, #fff) border-box;

  /* Transição suave para o hover */
  transition: all 0.3s ease;
}

.button-nav:hover {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #622f94, #894fc2, #eee) border-box;
  transform: translateX(-3px);
}
